In [38]:
# üì¶ Imports
import os
import random
import numpy as np
import pandas as pd
from scipy import sparse

import lightfm
from lightfm import LightFM, cross_validation
from lightfm.evaluation import precision_at_k, auc_score

from sklearn.metrics.pairwise import cosine_similarity
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
from config import DB_CONFIG
import psycopg2

# üîå K·∫øt n·ªëi c∆° s·ªü d·ªØ li·ªáu v√† ƒë·ªçc d·ªØ li·ªáu
conn = psycopg2.connect(**DB_CONFIG)

query = """
    SELECT account_id, post_id, viewed, liked, comments, to_timestamp(created_at) AS created_at
    FROM account_reaction_posts
"""
df = pd.read_sql(query, conn)
conn.close()

# üëÄ Hi·ªÉn th·ªã m·ªôt v√†i d√≤ng ƒë·∫ßu ti√™n
df

/var/folders/zf/kczvz60152jc02r_zrw84b0c0000gn/T/ipykernel_10975/2156407157.py:25: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

       account_id  post_id  viewed  liked  comments                created_at
0            7152    51799       8   True         4 2025-03-28 16:29:55+00:00
1            7152    53324       8   True         2 2025-04-06 15:03:00+00:00
2            7152    51861       6   True         3 2025-04-15 18:23:21+00:00
3            7152    53969       7   True         2 2025-04-06 16:15:46+00:00
4            7152    51322      10   True         2 2025-05-21 16:09:20+00:00
...           ...      ...     ...    ...       ...                       ...
41040        7112    51760       2  False         1 2025-03-31 20:07:56+00:00
41041        7112    52231       3  False         1 2025-03-13 05:24:32+00:00
41042        7112    53980       3  False         1 2025-04-13 20:26:21+00:00
41043        7112    54931       1  False         1 2025-03-31 14:44:40+00:00
41044        7112    52226       3  False         0 2025-05-12 11:31:13+00:00

[41045 rows x 6 columns]

In [2]:
# df['account_id'].value_counts()

account_id
7263    183
7496    160
7315    156
7403    155
7152    154
       ...
7576     35
7473     34
7512     30
7266     23
7381     20
Name: count, Length: 450, dtype: int64

In [3]:
# df['post_id'].value_counts()

post_id
54570    22
54709    21
55318    20
54154    20
52461    18
         ..
53837     1
51968     1
51808     1
50967     1
54179     1
Name: count, Length: 4839, dtype: int64

In [39]:
# Gi·∫£ s·ª≠ b·∫°n ƒë√£ c√≥ DataFrame df ch·ª©a c√°c c·ªôt: account_id, post_id, viewed, liked, commented

# M·ªói c·ªôt boolean s·∫Ω ƒë∆∞·ª£c chuy·ªÉn th√†nh int (True = 1, False = 0)
df['viewed'] = df['viewed'].astype(int)

# T·ªïng s·ªë t∆∞∆°ng t√°c (rating) = t·ªïng c√°c lo·∫°i t∆∞∆°ng t√°c
df['rating'] = df['viewed'] + df['liked'] * 2 + df['comments'] * 3
# Group theo (user_id, post_id) ƒë·ªÉ l·∫•y t·ªïng rating n·∫øu c√≥ tr√πng l·∫∑p
df_rating = df.groupby(['account_id', 'post_id'], as_index=False)['rating'].sum()

# K·∫øt qu·∫£ l√† ma tr·∫≠n account_id - post_id - rating
display(df_rating)

       account_id  post_id  rating
0            7084    50971      20
1            7084    51018      20
2            7084    51083      14
3            7084    51090      21
4            7084    51251      15
...           ...      ...     ...
41040        7583    55639      10
41041        7583    55666       9
41042        7583    55680       8
41043        7583    55714       9
41044        7583    55731       2

[41045 rows x 3 columns]

In [40]:
df_playlist =df_rating.groupby('post_id').filter(lambda x: len(x)>=10)
df_playlist

       account_id  post_id  rating
4            7084    51251      15
9            7084    51360      16
10           7084    51438      20
14           7084    51579      22
16           7084    51666      21
...           ...      ...     ...
41031        7583    54693       9
41033        7583    55308       5
41034        7583    55318       5
41042        7583    55680       8
41043        7583    55714       9

[19286 rows x 3 columns]

In [41]:
df_playlist = df_rating[df_rating.groupby('account_id').post_id.transform('nunique')>=10]
df_playlist

       account_id  post_id  rating
0            7084    50971      20
1            7084    51018      20
2            7084    51083      14
3            7084    51090      21
4            7084    51251      15
...           ...      ...     ...
41040        7583    55639      10
41041        7583    55666       9
41042        7583    55680       8
41043        7583    55714       9
41044        7583    55731       2

[41045 rows x 3 columns]

In [42]:
conn = psycopg2.connect(**DB_CONFIG)

query = "SELECT id AS post_id, caption FROM posts"
df_title = pd.read_sql_query(query, conn)
titles = df_title['caption'].tolist()
post_ids = df_title['post_id'].tolist()

# 3. T·∫°o mappings
titles = df_title['caption'].tolist()
post_ids = df_title['post_id'].tolist()

normal_mapping = dict(zip(titles, post_ids))   # title -> post_id
reverse_mapping = dict(zip(post_ids, titles))  # post_id -> title

# 4. ƒê√≥ng k·∫øt n·ªëi
conn.close()

/var/folders/zf/kczvz60152jc02r_zrw84b0c0000gn/T/ipykernel_10975/2248462930.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_title = pd.read_sql_query(query, conn)

In [43]:
def create_interaction_matrix(df,account_col, item_col, rating_col, norm= False, threshold = None):
    '''
    Function to create an interaction matrix dataframe from transactional type interactions
    Required Input -
        - df = Pandas DataFrame containing user-item interactions
        - user_col = column name containing user's identifier
        - item_col = column name containing item's identifier
        - rating col = column name containing user feedback on interaction with a given item
        - norm (optional) = True if a normalization of ratings is needed
        - threshold (required if norm = True) = value above which the rating is favorable
    Expected output - 
        - Pandas dataframe with user-item interactions ready to be fed in a recommendation algorithm
    '''
    interactions = df.groupby([account_col, item_col])[rating_col] \
            .sum().unstack().reset_index(). \
            fillna(0).set_index(account_col)
    if norm:
        interactions = interactions.applymap(lambda x: 1 if x > threshold else 0)
    return interactions

In [44]:
def create_account_dict(interactions):
    '''
    Function to create a user dictionary based on their index and number in interaction dataset
    Required Input - 
        interactions - dataset create by create_interaction_matrix
    Expected Output -
        account_dict - Dictionary type output containing interaction_index as key and account_id as value
    '''
    account_id = list(interactions.index)
    account_dict = {}
    counter = 0 
    for i in account_id:
        account_dict[i] = counter
        counter += 1
    return account_dict

In [45]:
def create_item_dict(df,id_col,name_col):
    '''
    Function to create an item dictionary based on their item_id and item name
    Required Input - 
        - df = Pandas dataframe with Item information
        - id_col = Column name containing unique identifier for an item
        - name_col = Column name containing name of the item
    Expected Output -
        item_dict = Dictionary type output containing item_id as key and item_name as value
    '''
    item_dict ={}
    for i in range(df.shape[0]):
        item_dict[(df.loc[i,id_col])] = df.loc[i,name_col]
    return item_dict

In [46]:
def runMF(interactions, n_components=30, loss='warp', k=15, epoch=30,n_jobs = 4):
    '''
    Function to run matrix-factorization algorithm
    Required Input -
        - interactions = dataset create by create_interaction_matrix
        - n_components = number of embeddings you want to create to define Item and account
        - loss = loss function other options are logistic, brp
        - epoch = number of epochs to run 
        - n_jobs = number of cores used for execution 
    Expected Output  -
        Model - Trained model
    '''
    
    #uncommented for train test split
#     x = sparse.csr_matrix(interactions.values)
    model = LightFM(no_components= n_components, loss=loss,k=k)
    model.fit(x,epochs=epoch,num_threads = n_jobs)
    return model

In [47]:
def sample_recommendation_account(model, interactions, account_id, account_dict, 
                               item_dict,threshold = 0,nrec_items = 10, show = True):
    '''
    Function to produce account recommendations
    Required Input - 
        - model = Trained matrix factorization model
        - interactions = dataset used for training the model
        - account_id = account ID for which we need to generate recommendation
        - account_dict = Dictionary type input containing interaction_index as key and account_id as value
        - item_dict = Dictionary type input containing item_id as key and item_name as value
        - threshold = value above which the rating is favorable in new interaction matrix
        - nrec_items = Number of output recommendation needed
    Expected Output - 
        - Prints list of items the given account has already bought
        - Prints list of N recommended items  which account hopefully will be interested in
    '''
    n_accounts, n_items = interactions.shape
    account_x = account_dict[account_id]
    scores = pd.Series(model.predict(account_x,np.arange(n_items)))
    scores.index = interactions.columns
    scores = list(pd.Series(scores.sort_values(ascending=False).index))
    
    known_items = list(pd.Series(interactions.loc[account_id,:] \
                                 [interactions.loc[account_id,:] > threshold].index) \
                       .sort_values(ascending=False))
    
    scores = [x for x in scores if x not in known_items]
    return_score_list = scores[0:nrec_items]
    known_items = list(pd.Series(known_items).apply(lambda x: item_dict[x]))
    scores = list(pd.Series(return_score_list).apply(lambda x: item_dict[x]))
    if show == True:
        print("Known Likes:")
        counter = 1
        for i in known_items:
            print(str(counter) + '- ' + i)
            counter+=1

        print("\n Recommended Items:")
        counter = 1
        for i in scores:
            print(str(counter) + '- ' + i)
            counter+=1
    return return_score_list

In [48]:
df_rating

       account_id  post_id  rating
0            7084    50971      20
1            7084    51018      20
2            7084    51083      14
3            7084    51090      21
4            7084    51251      15
...           ...      ...     ...
41040        7583    55639      10
41041        7583    55666       9
41042        7583    55680       8
41043        7583    55714       9
41044        7583    55731       2

[41045 rows x 3 columns]

In [49]:
interactions = create_interaction_matrix(df = df_rating, account_col = "account_id", item_col = 'post_id', rating_col = 'rating', norm= False, threshold = None)
interactions.head()

post_id,50917,50918,50919,50920,50921,50922,50923,50924,50925,50926,...,55746,55747,55748,55749,55750,55751,55752,55753,55754,55755
account_id,,,,,,,,,,,,,,,,,,,,,
7084,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7085,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7087,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7088,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7089,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
account_dict = create_account_dict(interactions=interactions)
account_dict

{7084: 0,
 7085: 1,
 7087: 2,
 7088: 3,
 7089: 4,
 7090: 5,
 7091: 6,
 7092: 7,
 7093: 8,
 7094: 9,
 7095: 10,
 7096: 11,
 7097: 12,
 7098: 13,
 7099: 14,
 7100: 15,
 7101: 16,
 7102: 17,
 7103: 18,
 7104: 19,
 7105: 20,
 7106: 21,
 7107: 22,
 7108: 23,
 7109: 24,
 7110: 25,
 7111: 26,
 7112: 27,
 7113: 28,
 7114: 29,
 7115: 30,
 7116: 31,
 7117: 32,
 7118: 33,
 7120: 34,
 7121: 35,
 7122: 36,
 7123: 37,
 7124: 38,
 7125: 39,
 7126: 40,
 7127: 41,
 7128: 42,
 7130: 43,
 7131: 44,
 7132: 45,
 7133: 46,
 7134: 47,
 7135: 48,
 7136: 49,
 7138: 50,
 7139: 51,
 7140: 52,
 7141: 53,
 7143: 54,
 7145: 55,
 7148: 56,
 7149: 57,
 7150: 58,
 7152: 59,
 7153: 60,
 7154: 61,
 7156: 62,
 7157: 63,
 7158: 64,
 7159: 65,
 7160: 66,
 7161: 67,
 7162: 68,
 7163: 69,
 7164: 70,
 7166: 71,
 7167: 72,
 7169: 73,
 7170: 74,
 7171: 75,
 7172: 76,
 7174: 77,
 7175: 78,
 7176: 79,
 7177: 80,
 7178: 81,
 7179: 82,
 7182: 83,
 7183: 84,
 7184: 85,
 7185: 86,
 7187: 87,
 7188: 88,
 7189: 89,
 7190: 90,
 7191: 91,
 7192: 92,
 7193: 93,
 7194: 94,
 7195: 95,
 7196: 96,
 7197: 97,
 7198: 98,
 7199: 99,
 7200: 100,
 7201: 101,
 7202: 102,
 7203: 103,
 7204: 104,
 7205: 105,
 7206: 106,
 7207: 107,
 7208: 108,
 7209: 109,
 7210: 110,
 7211: 111,
 7212: 112,
 7213: 113,
 7214: 114,
 7215: 115,
 7216: 116,
 7217: 117,
 7218: 118,
 7219: 119,
 7220: 120,
 7222: 121,
 7223: 122,
 7224: 123,
 7225: 124,
 7226: 125,
 7227: 126,
 7228: 127,
 7229: 128,
 7230: 129,
 7231: 130,
 7232: 131,
 7233: 132,
 7234: 133,
 7235: 134,
 7236: 135,
 7237: 136,
 7239: 137,
 7240: 138,
 7241: 139,
 7242: 140,
 7243: 141,
 7244: 142,
 7245: 143,
 7246: 144,
 7247: 145,
 7248: 146,
 7249: 147,
 7251: 148,
 7252: 149,
 7253: 150,
 7255: 151,
 7256: 152,
 7257: 153,
 7258: 154,
 7259: 155,
 7260: 156,
 7261: 157,
 7263: 158,
 7264: 159,
 7265: 160,
 7266: 161,
 7267: 162,
 7268: 163,
 7269: 164,
 7270: 165,
 7271: 166,
 7272: 167,
 7273: 168,
 7274: 169,
 7275: 170,
 7276: 171,
 7277: 172,
 7278: 173,
 7279: 174,
 7280: 175,
 7281: 176,
 7282: 177,
 7283: 178,
 7284: 179,
 7285: 180,
 7286: 181,
 7287: 182,
 7288: 183,
 7290: 184,
 7292: 185,
 7294: 186,
 7295: 187,
 7296: 188,
 7298: 189,
 7299: 190,
 7300: 191,
 7302: 192,
 7303: 193,
 7304: 194,
 7305: 195,
 7306: 196,
 7307: 197,
 7308: 198,
 7310: 199,
 7311: 200,
 7313: 201,
 7314: 202,
 7315: 203,
 7316: 204,
 7317: 205,
 7318: 206,
 7319: 207,
 7320: 208,
 7321: 209,
 7322: 210,
 7323: 211,
 7324: 212,
 7325: 213,
 7326: 214,
 7327: 215,
 7328: 216,
 7329: 217,
 7330: 218,
 7331: 219,
 7332: 220,
 7333: 221,
 7334: 222,
 7335: 223,
 7336: 224,
 7337: 225,
 7338: 226,
 7339: 227,
 7340: 228,
 7341: 229,
 7342: 230,
 7344: 231,
 7345: 232,
 7346: 233,
 7347: 234,
 7348: 235,
 7349: 236,
 7350: 237,
 7351: 238,
 7352: 239,
 7353: 240,
 7354: 241,
 7355: 242,
 7356: 243,
 7357: 244,
 7358: 245,
 7359: 246,
 7360: 247,
 7362: 248,
 7363: 249,
 7364: 250,
 7366: 251,
 7368: 252,
 7369: 253,
 7370: 254,
 7372: 255,
 7374: 256,
 7375: 257,
 7376: 258,
 7377: 259,
 7378: 260,
 7379: 261,
 7380: 262,
 7381: 263,
 7382: 264,
 7385: 265,
 7386: 266,
 7387: 267,
 7388: 268,
 7389: 269,
 7390: 270,
 7391: 271,
 7392: 272,
 7393: 273,
 7394: 274,
 7395: 275,
 7396: 276,
 7397: 277,
 7398: 278,
 7399: 279,
 7400: 280,
 7401: 281,
 7402: 282,
 7403: 283,
 7404: 284,
 7405: 285,
 7406: 286,
 7407: 287,
 7408: 288,
 7409: 289,
 7410: 290,
 7411: 291,
 7412: 292,
 7413: 293,
 7414: 294,
 7415: 295,
 7416: 296,
 7417: 297,
 7418: 298,
 7419: 299,
 7420: 300,
 7421: 301,
 7422: 302,
 7424: 303,
 7425: 304,
 7426: 305,
 7427: 306,
 7428: 307,
 7429: 308,
 7430: 309,
 7431: 310,
 7432: 311,
 7433: 312,
 7434: 313,
 7435: 314,
 7436: 315,
 7437: 316,
 7440: 317,
 7441: 318,
 7442: 319,
 7443: 320,
 7444: 321,
 7446: 322,
 7447: 323,
 7448: 324,
 7449: 325,
 7450: 326,
 7451: 327,
 7452: 328,
 7453: 329,
 7454: 330,
 7456: 331,
 7457: 332,
 7458: 333,
 7459: 334,
 7460: 335,
 7461: 336,
 7462: 337,
 7463: 338,
 7465: 339,
 7466: 340,
 7467: 341,
 7468: 342,
 7469: 343,
 7470: 344,
 7471: 345,
 7472: 346,
 7473: 347,
 7474: 348,
 7475: 349,
 7476: 350,
 7477: 351,
 7478: 352,
 7479: 353,
 7480: 354,
 7481: 355,
 7482: 356,
 7483: 357,
 7484: 358,
 7485: 359,
 7486: 360,
 7487: 361,
 7488: 362,
 7489: 363,
 7490: 364,
 7491: 365,
 7492: 366,
 7493: 367,
 7494: 368,
 7496: 369,
 7497: 370,
 7498: 371,
 7499: 372,
 7500: 373,
 7501: 374,
 7502: 375,
 7503: 376,
 7504: 377,
 7505: 378,
 7506: 379,
 7507: 380,
 7508: 381,
 7509: 382,
 7510: 383,
 7511: 384,
 7512: 385,
 7513: 386,
 7514: 387,
 7516: 388,
 7517: 389,
 7518: 390,
 7519: 391,
 7520: 392,
 7521: 393,
 7522: 394,
 7523: 395,
 7525: 396,
 7526: 397,
 7527: 398,
 7529: 399,
 7530: 400,
 7531: 401,
 7532: 402,
 7533: 403,
 7534: 404,
 7535: 405,
 7536: 406,
 7537: 407,
 7538: 408,
 7539: 409,
 7541: 410,
 7542: 411,
 7543: 412,
 7544: 413,
 7545: 414,
 7546: 415,
 7547: 416,
 7548: 417,
 7549: 418,
 7551: 419,
 7552: 420,
 7553: 421,
 7554: 422,
 7555: 423,
 7556: 424,
 7557: 425,
 7558: 426,
 7559: 427,
 7560: 428,
 7561: 429,
 7562: 430,
 7563: 431,
 7564: 432,
 7565: 433,
 7566: 434,
 7567: 435,
 7568: 436,
 7570: 437,
 7571: 438,
 7573: 439,
 7574: 440,
 7575: 441,
 7576: 442,
 7577: 443,
 7578: 444,
 7579: 445,
 7580: 446,
 7581: 447,
 7582: 448,
 7583: 449}

In [51]:
item_dict = reverse_mapping

In [52]:
x = sparse.csr_matrix(interactions.values)
train, test = lightfm.cross_validation.random_train_test_split(x, test_percentage=0.2, random_state=None)

In [53]:
%time
model = runMF(interactions = train,
                 n_components = 30,
                 loss = 'warp',
                 k = 15,
                 epoch = 30,
                 n_jobs = 4)

CPU times: user 2 Œºs, sys: 0 ns, total: 2 Œºs
Wall time: 5.72 Œºs

In [54]:
train_auc = auc_score(model, train, num_threads=4).mean()
print('Train AUC: %s' % train_auc)

Train AUC: 0.96242255

In [55]:
test_auc = auc_score(model, test, train_interactions=train, num_threads=4).mean()
print('Test AUC: %s' % test_auc)

Test AUC: 0.96248955

In [56]:
train_precision = precision_at_k(model, train, k=10).mean()
test_precision = precision_at_k(model, test, k=10, train_interactions=train).mean()

In [57]:
print('train Precision %.2f, test Precision %.2f.' % (train_precision, test_precision))

train Precision 0.35, test Precision 0.16.

In [60]:
rec_list = sample_recommendation_account(model = model, 
                                      interactions = interactions, 
                                      account_id = 7084, 
                                      account_dict = account_dict,
                                      item_dict = item_dict, 
                                      threshold = 0,
                                      nrec_items = 10,
                                      show = True)

Known Likes:
1- R·∫•t t·∫°i v√†i ƒë·∫øn d∆∞·ªõi. Nh∆∞ng r·∫•t t·ª´ng t√¥i. ƒêang nhi·ªÅu v·ªõi c·ªßa b√™n c√≥.
2- C√°c s·ªë thay ƒëi·ªÅu t·ª± ƒë·ªÉ. C√≥ s·∫Ω nh∆∞ng l·ªõn ng∆∞·ªùi r·∫•t.
3- ƒê·∫øn v·ªÅ ƒëi·ªÅu g·∫ßn gi·ªëng t·ª´ v√¨. M√† m·ªôt m·ªói. Kh√¥ng c√≥ c≈©ng d∆∞·ªõi t·ª±. N√†y cho t·ª´ng t·ª±.
4- N∆°i n∆°i gi·ªØa r·∫•t ch∆∞a. V·∫´n ch∆∞a c≈©ng.
5- Gi·ªØa v·∫≠y v·ªÅ c√≥ ƒë·ªÉ gi·ªØa v√†i. C√°c v√†i d∆∞·ªõi s·∫Ω ƒë·ªÉ h∆°n.
6- Kh√¥ng c√≥ t·ª´ c·ªßa khi·∫øn. C·ªßa ƒë·∫øn h∆°n nh∆∞ nh∆∞ t·∫°i h∆°n. Nh∆∞ trong n√†y ƒë·ªÉ. C≈©ng ƒë·ªÉ ƒëi. Theo n√†y c·ªßa n∆°i v·ªÅ.
7- Thay t·∫°i c√°i ƒëi t·∫°i. ƒê·ªÉ d∆∞·ªõi gi·ªØa v·∫≠y. V·ªõi ƒë∆∞·ª£c n·∫øu nh∆∞ v√¨ nh∆∞ v·ªÅ. Ch∆∞a ƒëi th√¨ m√† ƒë·∫øn v·ªÅ. ƒêi·ªÅu d∆∞·ªõi ƒë∆∞·ª£c th√¨ t·ª´ng nhi·ªÅu c≈©ng. C√°ch m√† v·ªõi n·∫øu.
8- V·ªÅ sau ƒë·ªÉ nh∆∞. M·ªói ƒë·ªÉ nh∆∞ l√†m v√† trong nh∆∞ng. ƒê√≥ m·ªói v√† s·ªë h∆°n ng∆∞·ªùi trong v·ªõi. V√¨ ƒë√≥ v·ªõi v·∫´n ƒë∆∞·ª£c n√†o. Trong nh∆∞ v·ªõi m·ªói r·∫•t n√†y c≈©ng.
9- C√≥ ƒë·ªÉ g·∫ßn r·∫•t l·ªõn. T·∫°i c≈©ng s·ªë khi·∫øn sau. V·ªÅ ƒë∆∞·ª£c cho c√°c. M·ªói t√¥i t·∫°i v√¨ ch∆∞a. Sau m·ªói nh∆∞ gi·ªëng c·ªßa nh∆∞ t·ª´ gi·ªëng.
10- ƒê√≥ h∆°n gi·ªØa c√°ch ch∆∞a n·∫øu. Trong t·ª´ng khi v·∫´n v√† gi·ªØa sau.
11- C√≥ ƒëi·ªÅu ƒë√∫ng ho·∫∑c. Khi·∫øn nh∆∞ b√™n c·ªßa ch·ªâ v√†i c√≥. G·∫ßn v·∫≠y v·ªÅ c·ªßa s·ªë t·ª´ng. Thay sau c≈©ng ng∆∞·ªùi s·ªë th√¨. ƒê√∫ng nh∆∞ t√¥i ƒë·∫øn m·ªôt. H∆°n nh∆∞ ho·∫∑c t·ª´ khi.
12- Trong v·∫≠y n∆°i th·∫ø. B·∫°n n√†y ƒë·ªÉ ƒë·ªÉ m√† m·ªôt. V√¨ c√°ch ƒë·∫øn v·∫≠y theo trong. Gi·ªØa theo ƒë√≥ c≈©ng ho·∫∑c ƒëang gi·ªëng.
13- C≈©ng ƒë√£ nh∆∞. B·∫°n ƒëi·ªÅu ƒëang. V√†i ƒë√≥ l·ªõn nh∆∞ng g·∫ßn khi.
14- M·ªôt ng∆∞·ªùi v·ªõi trong trong h∆°n gi·ªØa. C√≥ n∆°i ƒë∆∞·ª£c v·ªÅ v·ªÅ b·∫°n n√†y.
15- C·ªßa ho·∫∑c v√†i th·∫ø. M√† c·ªßa c√°i c·ªßa. ƒê·∫øn th√¨ ƒë·ªÉ.
16- ƒêi·ªÅu nh∆∞ n·∫øu ƒëi·ªÅu h∆°n th·∫ø. Ng∆∞·ªùi t·ª´ nhi·ªÅu nhi·ªÅu l·ªõn ch·ªâ l·ªõn. C·ªßa t√¥i trong nh∆∞ trong nh∆∞ng. T·ª´ t·∫°i ƒë·ªÉ t·ª´ v·ªõi ƒëi·ªÅu s·∫Ω.
17- C√°ch cho ho·∫∑c v·ªÅ nh∆∞ n·∫øu. V√¨ c≈©ng t·∫°i nh∆∞ t·∫°i c√≥ nh∆∞. T·ª´ t·ª± n∆°i ƒë·ªÉ.
18- V·ªõi nh∆∞ l√†m c·ªßa c√≥ trong sau. Kh√¥ng h∆°n c√≥ r·∫•t. Nh∆∞ t·ª´ng v·ªÅ trong. Sau nh∆∞ gi·ªëng t·∫°i t·ª´ d∆∞·ªõi v√¨ d∆∞·ªõi.
19- N√†o trong v·ªÅ t√¥i ch·ªâ. M√† nhi·ªÅu t·∫°i ƒë·ªÉ ch·ªâ theo s·∫Ω v·∫≠y. Ch·ªâ khi·∫øn n∆°i c≈©ng ch∆∞a t·ª´ sau. Nh∆∞ng th√¨ c·ªßa th√¨ h∆°n. Nh∆∞ t·ª´ng c·ªßa nh∆∞ l√† nh∆∞. C·ªßa nh∆∞ nh∆∞ m·ªôt c√≥ sau t·∫°i c≈©ng.
20- Khi v·∫´n s·ªë trong nhi·ªÅu n√†y v·ªÅ. C√°ch c·ªßa ƒë·ªÉ c·ªßa ƒë·∫øn. V·∫≠y ƒë·ªÉ r·∫•t ƒë√≥ v·∫´n ƒë·ªÉ.
21- C≈©ng c√°ch t·ª´ ch·ªâ. C≈©ng h∆°n c≈©ng cho ƒëi ƒë∆∞·ª£c. Khi kh√¥ng v·∫≠y nh∆∞. Theo m·ªói gi·ªØa ch∆∞a c·ªßa thay. Nh∆∞ ƒë·∫øn ƒëang gi·ªØa ch∆∞a m√† theo ng∆∞·ªùi.
22- ƒê·ªÉ c√°c t·∫°i ƒë·ªÉ n∆°i. M·ªôt s·ªë nh∆∞ng. Nh∆∞ c√°ch gi·ªëng cho trong. B√™n n√†y nh∆∞ nh∆∞ng m·ªói s·∫Ω. M·ªôt ƒëi ch·ªâ n√†o ƒë√≥ nh∆∞ v√†.
23- C√≥ sau t√¥i c·ªßa g·∫ßn. Kh√¥ng t·∫°i gi·ªØa nh∆∞ kh√¥ng v·∫≠y. R·∫•t r·∫•t khi v·∫´n l√† trong.
24- Nh∆∞ n∆°i c≈©ng ho·∫∑c t√¥i nh∆∞ng n·∫øu kh√¥ng. N∆°i theo theo ƒë·∫øn. ƒêi ƒëi cho ƒë√≥ v√†i. V·ªõi ƒë·ªÉ s·ªë v·∫´n nh∆∞ ƒë·ªÉ. Gi·ªØa ƒë∆∞·ª£c ƒë√∫ng nhi·ªÅu th·∫ø.
25- V·ªõi v√† ƒë∆∞·ª£c l·ªõn v·ªõi. T·∫°i trong h∆°n gi·ªØa ƒëang. Nh∆∞ ƒë·ªÉ c√≥ sau t√¥i nhi·ªÅu c√°c.
26- B·∫°n v√¨ theo v√† khi v·∫´n. T·ª´ng t·ª´ nhi·ªÅu v·∫≠y c√≥ c√≥. Th√¨ c√≥ c·ªßa nhi·ªÅu m·ªói h∆°n c√≥.
27- Th·∫ø n∆°i c√°i ƒëang. C·ªßa ƒë√£ c√°ch h∆°n v·ªõi c≈©ng nh∆∞. R·∫•t ƒë·∫øn ch∆∞a khi·∫øn ho·∫∑c. C√°c c√°c th·∫ø ƒë√≥ trong.
28- Trong ƒë∆∞·ª£c ƒë·ªÉ th√¨ n∆°i ƒë∆∞·ª£c. Nh∆∞ c·ªßa t·ª´ b√™n. Nh∆∞ b√™n ƒë√∫ng l·ªõn l√† ƒë·∫øn.
29- C≈©ng gi·ªØa d∆∞·ªõi cho r·∫•t. Gi·ªØa c·ªßa ch∆∞a t·ª´ng n√†o c√°c ch∆∞a thay. Nh∆∞ c≈©ng ƒë·ªÉ v·∫´n m·ªôt t·∫°i ƒë√∫ng. M√† c√≥ t·∫°i n·∫øu nh∆∞ng v·ªõi khi ƒë·ªÉ. ƒêi·ªÅu t·∫°i r·∫•t.
30- ƒê√∫ng ng∆∞·ªùi t·∫°i t·ª´ c·ªßa t·ª´ng. ƒêang l√† c√°ch v√† nh∆∞.
31- N·∫øu m√† theo theo n∆°i khi. T·ª´ng nh∆∞ cho c√°ch n·∫øu c√°c kh√¥ng v·ªõi.
32- Sau c·ªßa s·ªë g·∫ßn t√¥i sau. Nh∆∞ng ch∆∞a r·∫•t. L√†m ƒë√≥ ƒë√≥ t·ª´ c√≥. V·∫´n l·ªõn theo ƒë∆∞·ª£c t·ª´ng.
33- Ch∆∞a c√≥ gi·ªØa b·∫°n t·ª´ ƒë·∫øn m·ªôt. ƒê√∫ng v·ªõi t·ª´ ƒë√£ v·ªõi v√† c·ªßa ƒë√≥. Nh∆∞ng v·∫≠y c≈©ng c·ªßa. T·ª´ng t√¥i thay t·∫°i. C√°i khi gi·ªëng n√†o v√†.
34- Nh∆∞ h∆°n cho c√≥ c·ªßa m√†. Ng∆∞·ªùi t·ª´ng m√† trong c√≥. ƒê·ªÉ nhi·ªÅu ch∆∞a c·ªßa c·ªßa. T·ª´ nh∆∞ c√°c ƒëang nh∆∞. C√°ch v√† c√°c nh∆∞ n√†y n√†o gi·ªëng.
35- ƒê·ªÉ t·ª´ng n∆°i t·ª´ t·ª´. Theo v·∫≠y nh∆∞ nh∆∞ng ƒëang n√†y. C≈©ng ƒë∆∞·ª£c v√¨. Trong ƒë·ªÉ b√™n.
36- V·ªõi nh∆∞ khi nh∆∞ l√†m cho. Thay ch·ªâ ƒë√£ s·ªë.
37- C·ªßa s·ªë n∆°i c≈©ng ƒë·ªÉ trong c≈©ng. T·∫°i l√† v√† g·∫ßn v·∫´n b·∫°n ƒë·∫øn ƒë·∫øn. Ch∆∞a thay b√™n.
38- Th·∫ø thay v√† r·∫•t v·∫´n l·ªõn. B·∫°n ƒë·∫øn d∆∞·ªõi v·ªõi. L·ªõn ƒë·ªÉ v√† theo ƒë√≥ nh∆∞ ƒë·ªÉ.
39- V·∫≠y t·ª± ƒë·∫øn ƒë·ªÉ nh∆∞ l·ªõn nh∆∞ng. Nh∆∞ng l√†m ƒë·ªÉ ƒëang ƒë√≥. N√†y v·ªõi v·∫≠y c≈©ng n∆°i v√†i ƒëi·ªÅu. T·ª´ ƒë√≥ ƒë·ªÉ.
40- T·ª± v√† trong m·ªói thay v·ªÅ h∆°n v·∫´n. ƒê·ªÉ n∆°i c·ªßa khi m·ªôt. V·ªÅ ch·ªâ n√†o c√≥ ƒëi·ªÅu khi.
41- ƒê·ªÉ c·ªßa theo nh∆∞. Ch·ªâ th√¨ th√¨ v·ªõi trong c·ªßa t·ª´. Khi·∫øn trong v·∫≠y m·ªôt khi·∫øn theo. Gi·ªØa c·ªßa c·ªßa v√† ƒë∆∞·ª£c n∆°i.
42- C√°i v·ªÅ t·ª± l√†m b·∫°n ƒë·∫øn. Cho sau c√°ch theo nh∆∞ c·ªßa b·∫°n t·ª´ng. Nh∆∞ t·ª± c√°i cho nh∆∞. ƒê√≥ gi·ªØa b·∫°n. C·ªßa t√¥i thay cho m√† m·ªôt v·∫´n nh∆∞.
43- M·ªói c√≥ c·ªßa. L√† g·∫ßn h∆°n r·∫•t theo. Khi c√≥ m·ªôt h∆°n c≈©ng. C√°i t·ª´ h∆°n v√†i cho v·ªõi.
44- ƒêi·ªÅu thay theo h∆°n. C≈©ng ƒë√≥ c·ªßa s·∫Ω c·ªßa khi·∫øn.
45- ƒêi m√† n·∫øu nh∆∞ c√°ch c√≥. ƒêi·ªÅu th√¨ v·∫≠y s·ªë ƒëang thay.
46- V·∫≠y nh∆∞ ho·∫∑c ch·ªâ. T·ª´ ƒë√∫ng sau t·∫°i. H∆°n khi·∫øn b√™n c·ªßa ch∆∞a ƒë·ªÉ. N√†o t·ª´ c·ªßa ng∆∞·ªùi v√¨ ch∆∞a.
47- T·∫°i n√†o c·ªßa b√™n thay h∆°n. T·ª´ t·ª± c√°i n·∫øu t·ª± l√†. H∆°n sau ƒë·ªÉ n√†o ƒë·∫øn.
48- T√¥i thay t·∫°i s·ªë nh∆∞. D∆∞·ªõi ƒëi c√°ch v·∫´n m·ªôt. ƒê√≥ n√†o n∆°i khi ch∆∞a theo ƒë·ªÉ. Cho h∆°n b√™n r·∫•t.
49- C·ªßa nh∆∞ nhi·ªÅu s·∫Ω ch∆∞a ƒë√≥. ƒêi v√¨ r·∫•t c≈©ng h∆°n. ƒêi·ªÅu r·∫•t l√† theo.
50- V·ªõi nh∆∞ng v·ªõi nh∆∞ n∆°i r·∫•t c√≥. Khi m·ªói ch∆∞a khi·∫øn v√† ƒë·ªÉ.
51- Nh∆∞ d∆∞·ªõi ƒë√∫ng s·∫Ω nh∆∞ c·ªßa. Trong theo ƒë√≥ n√†y h∆°n theo trong. D∆∞·ªõi t·ª´ng c√°c d∆∞·ªõi kh√¥ng c≈©ng.
52- V√†i c√°c n√†o b·∫°n l·ªõn b·∫°n gi·ªØa. C√≥ ƒë√£ l√†m l√† trong. T·ª´ng t·ª± ƒë·ªÉ v√†i t·∫°i ƒë√≥ r·∫•t.
53- Ng∆∞·ªùi gi·ªØa t·∫°i l√† r·∫•t. Trong theo v√¨ ƒë√≥ n√†y ƒë·ªÉ. L√†m khi·∫øn h∆°n n∆°i c·ªßa v·∫´n n·∫øu c√≥. L√†m t·∫°i ƒë∆∞·ª£c ƒëi v·∫≠y.
54- Khi·∫øn ch∆∞a nh∆∞ t√¥i nh∆∞ng c√°i trong. N∆°i c√°ch ƒë·ªÉ khi·∫øn t·ª´ng. Nh∆∞ng l√† h∆°n n√†y nh∆∞ r·∫•t c√°i. Theo b·∫°n gi·ªëng t·ª´ trong nh∆∞. L√†m c·ªßa ƒë·ªÉ ƒë·∫øn kh√¥ng thay ƒëang. B√™n ƒë√£ ƒë·∫øn khi·∫øn.
55- C·ªßa n√†o m·ªôt c√≥. T·ª´ng t·ª´ng v√†i ƒë√≥ ƒëi·ªÅu n√†y ho·∫∑c.
56- C≈©ng v√† ch∆∞a t·ª´ng nhi·ªÅu c·ªßa. Gi·ªëng c≈©ng v√† l√†m ƒë√∫ng h∆°n m√†. C·ªßa c√≥ v√†i s·ªë. C≈©ng c√≥ v·ªõi ch·ªâ c√°c. L·ªõn v·∫≠y l√†m nh∆∞ gi·ªØa v·∫´n ƒë√£. V√¨ n√†y ƒë√∫ng t·ª´ng.
57- C·ªßa h∆°n n√†y v·ªõi ƒë√£ trong thay gi·ªØa. ƒê·ªÉ ƒë√£ t·ª´.
58- C√≥ ch·ªâ c√≥ h∆°n sau b·∫°n nh∆∞. Nh∆∞ng cho l√†m v√† ch∆∞a nh∆∞. ƒêi·ªÅu c√≥ khi·∫øn ƒë∆∞·ª£c t·ª´ s·ªë.
59- T·ª± c·ªßa c≈©ng t√¥i ƒë·∫øn c√≥. M·ªôt v√† c·ªßa ch·ªâ cho s·ªë s·ªë c√°c. Th·∫ø v·ªÅ c√°c s·∫Ω c·ªßa.
60- M·ªói n·∫øu ch∆∞a th√¨ c·ªßa. Nh∆∞ng ƒëi c√°c v√¨ g·∫ßn kh√¥ng ƒë·ªÉ ƒë∆∞·ª£c. V·ªõi nh∆∞ th·∫ø.
61- Ho·∫∑c s·∫Ω c≈©ng th·∫ø t·∫°i ƒë√£ ƒë√≥. Ng∆∞·ªùi ƒë∆∞·ª£c ƒë∆∞·ª£c. V·ªõi ƒë·ªÉ b√™n r·∫•t v·ªõi v·ªõi m√†.
62- Trong c·ªßa nh∆∞ ƒë√£. B√™n b·∫°n n∆°i c·ªßa ƒëang.
63- Thay th·∫ø nh∆∞ h∆°n t·ª´ khi·∫øn. Gi·ªØa th·∫ø t·ª± nh∆∞ng. ƒêang nh∆∞ ho·∫∑c c√°i. H∆°n ƒë·ªÉ g·∫ßn ƒë·ªÉ h∆°n gi·ªëng l√†m.
64- Th√¨ b√™n th·∫ø g·∫ßn c√°c cho s·∫Ω. V·∫´n v·ªÅ g·∫ßn cho c√≥ nh∆∞. D∆∞·ªõi ƒë√£ t√¥i s·∫Ω. D∆∞·ªõi t·∫°i gi·ªëng.
65- Gi·ªëng t√¥i ng∆∞·ªùi c≈©ng ƒë·ªÉ r·∫•t nh∆∞. ƒêi gi·ªØa trong nh∆∞ c√°c ƒëi·ªÅu. Nh∆∞ c√≥ v·∫≠y kh√¥ng n√†y.
66- C·ªßa t·ª´ ho·∫∑c gi·ªëng v·ªÅ kh√¥ng. T·∫°i l√† n·∫øu t·ª´ng ƒë∆∞·ª£c v·∫≠y. Nh∆∞ng thay c√°i.
67- Nh∆∞ m√† v√† v√¨ ƒë√∫ng c√°ch. C≈©ng c√≥ l√†. L√† ch·ªâ ƒë·∫øn c√°ch.
68- L√†m t·ª± trong. V√† ƒëi·ªÅu v√† c√°c khi ƒë√∫ng n·∫øu.
69- M·ªói t√¥i c·ªßa nh∆∞ m·ªói. ƒêi·ªÅu nh∆∞ l√†m h∆°n. T·∫°i v√¨ nh∆∞ng ƒë∆∞·ª£c khi khi·∫øn c·ªßa c≈©ng. ƒê∆∞·ª£c v·ªõi ƒëi·ªÅu l√†m ƒë∆∞·ª£c ƒëi. T·ª± ƒë√≥ v·∫≠y c√°c t√¥i l·ªõn v·ªõi. C·ªßa ƒë·∫øn m·ªói.
70- C·ªßa h∆°n t√¥i. Gi·ªØa kh√¥ng ch·ªâ khi·∫øn. Khi h∆°n ƒëi b·∫°n ƒëi ƒë√≥. T·ª´ nh∆∞ng m·ªói c≈©ng. Ng∆∞·ªùi kh√¥ng t·ª± b√™n g·∫ßn t√¥i.
71- T√¥i r·∫•t v√†i l√† ch·ªâ t·ª´. T·ª´ng t·ª´ng gi·ªØa m√†. ƒê·ªÉ ch∆∞a nh∆∞ ƒë·∫øn. B·∫°n m·ªôt ƒë√£ v√†i v·∫≠y v·∫≠y.
72- Khi·∫øn l√†m ng∆∞·ªùi c≈©ng gi·ªëng ch∆∞a. T√¥i c√°i cho v·ªõi v·ªõi nh∆∞. T·∫°i gi·ªëng ƒëang r·∫•t. Khi·∫øn ch·ªâ t·ª´ng n·∫øu c≈©ng th·∫ø t·∫°i. Nh∆∞ng nh∆∞ h∆°n ch∆∞a nh∆∞ ƒë√£ h∆°n v·∫´n.
73- Nh∆∞ s·ªë s·∫Ω gi·ªØa c√°c nhi·ªÅu t·∫°i n√†o. Khi·∫øn ƒëang cho nh∆∞ c√°i ƒëang. S·ªë ƒë√∫ng c√°ch nh∆∞ nhi·ªÅu g·∫ßn c√°c. ƒê∆∞·ª£c v√¨ c≈©ng nhi·ªÅu trong nh∆∞ v·∫´n. N∆°i t·ª´ l·ªõn t·ª´ thay.
74- Nh∆∞ t·ª´ ƒëi·ªÅu m·ªôt b·∫°n khi·∫øn. Nh∆∞ s·∫Ω nhi·ªÅu nh∆∞ g·∫ßn c·ªßa trong n√†y. ƒêi·ªÅu ƒë√£ gi·ªØa c√°ch n∆°i nh∆∞. C≈©ng c·ªßa g·∫ßn. Ng∆∞·ªùi thay m·ªói nh∆∞ n·∫øu t·∫°i.
75- Th√¨ g·∫ßn v√†i. Ch∆∞a t·ª´ trong nh∆∞ n·∫øu ƒë√≥. T·ª´ nh∆∞ nhi·ªÅu ƒë·ªÉ ng∆∞·ªùi n√†o v√† n∆°i.
76- V√†i ƒë√≥ thay nh∆∞ c·ªßa. Nhi·ªÅu ƒë·∫øn b√™n l√† c√≥ c√≥ m·ªôt h∆°n. C√°i ƒëang thay.
77- Th√¨ ƒë·∫øn v√†i.
78- T·∫°i c·ªßa m·ªôt s·∫Ω m·ªói. T·ª´ t·ª´ v·∫´n ho·∫∑c m·ªói v·ªõi n∆°i. Th·∫ø c√°c thay h∆°n v·ªõi. L√† nh∆∞ kh√¥ng v·∫≠y c√°ch v√† theo.
79- Th√¨ c·ªßa c·ªßa h∆°n ho·∫∑c trong th√¨. T·ª´ c√°i l√†m trong v√¨ khi n·∫øu ƒë√∫ng. R·∫•t trong n√†o v·ªÅ.
80- M·ªói v√†i c·ªßa khi·∫øn n√†y ƒëang ho·∫∑c. C√≥ b√™n s·ªë th·∫ø b√™n. C√≥ trong nh∆∞ b√™n. V√¨ gi·ªëng c≈©ng ƒë·∫øn v·ªõi v·∫≠y m√† l√†m.
81- T·ª± ƒëang ƒë·ªÉ t·ª± h∆°n ho·∫∑c m·ªói. ƒêang n√†y cho trong ƒë√≥ m√† v·ªõi.
82- V·ªõi khi nhi·ªÅu ƒë·∫øn d∆∞·ªõi. C·ªßa l·ªõn ƒë·∫øn. C≈©ng s·ªë th√¨ c√≥ ho·∫∑c h∆°n sau. C√°ch t·ª± ch·ªâ v·∫≠y ƒëi·ªÅu ho·∫∑c h∆°n.
83- H∆°n v·ªÅ c·ªßa theo ƒë√≥ theo v·∫´n. Ch∆∞a v√¨ ƒëang v·∫´n n√†o t·∫°i trong. B·∫°n ƒë·∫øn nh∆∞ t·ª± ƒë·ªÉ. ƒê∆∞·ª£c ch·ªâ c·ªßa g·∫ßn ƒë∆∞·ª£c gi·ªØa.
84- G·∫ßn m√† c·ªßa nh∆∞ng b·∫°n ch∆∞a. C·ªßa r·∫•t r·∫•t ch∆∞a m√† nh∆∞. Nh∆∞ng n·∫øu ƒëang t·∫°i v√¨.
85- C√°ch t·∫°i ch∆∞a v·ªÅ t√¥i d∆∞·ªõi. Nhi·ªÅu n√†o khi·∫øn t·ª± ƒëi·ªÅu.
86- D∆∞·ªõi m·ªôt cho khi·∫øn nh∆∞. ƒê∆∞·ª£c v√† c√≥ g·∫ßn. H∆°n ƒëi·ªÅu sau v√†i ƒë·ªÉ n√†y ƒë∆∞·ª£c theo.
87- C√≥ trong c√°ch ƒëi·ªÅu ho·∫∑c m√†. G·∫ßn r·∫•t n√†y t·ª´ng g·∫ßn ƒë√≥. ƒêi·ªÅu m·ªôt l√† v·∫´n ƒë·ªÉ s·∫Ω.
88- Nh∆∞ ƒëi·ªÅu n∆°i s·∫Ω. T·ª± l√† trong th·∫ø nh∆∞ kh√¥ng. T√¥i t·ª´ng ƒë√£ n√†y d∆∞·ªõi. C≈©ng t√¥i thay nh∆∞ c√≥ m·ªói.
89- Th√¨ t·∫°i b√™n c√°i nh∆∞ t√¥i. C≈©ng nh∆∞ n√†y c√°i c√≥ nh∆∞ c√°ch. Thay ƒë·ªÉ thay c≈©ng khi·∫øn c≈©ng th·∫ø.
90- C√°c r·∫•t t·ª´ng c√°c ho·∫∑c nh∆∞ng. ƒê·∫øn ƒë∆∞·ª£c d∆∞·ªõi v√† c·ªßa.
91- T·ª´ r·∫•t l·ªõn. N√†y thay m√† g·∫ßn thay n√†o c·ªßa.
92- N√†o l√† ƒëi. Sau khi ƒëang v√† l√†m. ƒê·ªÉ c·ªßa v·ªÅ t·∫°i v√†i.
93- B·∫°n kh√¥ng c√°i nh∆∞. Ch∆∞a t√¥i v·ªõi trong t·ª´ c√≥ ƒë·∫øn. V·ªõi nh∆∞ng l·ªõn khi t·ª± nh∆∞ng. Gi·ªëng c·ªßa l√† gi·ªØa ƒë√∫ng ch∆∞a n√†o.
94- Th√¨ ƒë√≥ ch·ªâ gi·ªØa ƒëi t·∫°i n√†y. C√≥ l·ªõn v·ªõi. Theo m·ªôt c≈©ng gi·ªØa. C·ªßa n√†o thay l√†m m·ªôt th√¨.
95- Kh√¥ng ƒë·∫øn cho c√°i. R·∫•t nh∆∞ c√≥ v·∫≠y. C√°ch c≈©ng n·∫øu ch·ªâ t·ª´ kh√¥ng.
96- V·∫≠y nh∆∞ c·ªßa. Trong m·ªói t√¥i v√¨ t·ª´. Ch∆∞a s·∫Ω nhi·ªÅu t·ª´ng c√°ch gi·ªëng trong m√†.
97- S·ªë ƒë·ªÉ r·∫•t c√≥. ƒê∆∞·ª£c nh∆∞ gi·ªëng l√†m b√™n c·ªßa s·ªë. M·ªói ƒëi·ªÅu c≈©ng. C·ªßa ƒë·ªÉ v·∫≠y ƒë·∫øn. C·ªßa c≈©ng trong n√†o ƒë√≥ nhi·ªÅu khi. C√°i v√¨ l·ªõn c≈©ng h∆°n ng∆∞·ªùi ƒë·∫øn.
98- N·∫øu g·∫ßn c·ªßa nh∆∞ng ch∆∞a. ƒêang g·∫ßn nh∆∞ gi·ªëng nhi·ªÅu nh∆∞.
99- Sau t·ª´ n·∫øu nhi·ªÅu v·∫≠y. Thay nh∆∞ d∆∞·ªõi v√†i.
100- T·ª± c·ªßa n√†y c√°i ƒëi ƒë·∫øn b·∫°n. C·ªßa thay n√†o m·ªôt c≈©ng l√†m. N·∫øu ƒë·ªÉ gi·ªëng thay sau ch∆∞a trong h∆°n. T·∫°i nh∆∞ng t·∫°i kh√¥ng v·ªõi ƒë√≥ r·∫•t. Trong s·∫Ω n√†o trong.
101- T·∫°i nh∆∞ cho n√†y h∆°n. ƒê∆∞·ª£c v√† v·∫´n ch·ªâ l√† c√°ch. V√† ƒë·ªÉ v·ªõi ƒë∆∞·ª£c ƒë√≥. V√†i th·∫ø v√† b·∫°n t√¥i th√¨ trong ƒë·ªÉ. L·ªõn t·ª± v·ªõi th·∫ø b·∫°n thay l·ªõn cho.
102- M·ªôt c≈©ng t·∫°i ƒëi·ªÅu c≈©ng cho. G·∫ßn n√†o n√†y ƒëang khi kh√¥ng nhi·ªÅu. S·ªë m√† nh∆∞ v·ªõi ch∆∞a n·∫øu t·ª´ng.
103- Sau ƒëang v·∫≠y c·ªßa nh∆∞ d∆∞·ªõi n·∫øu. Nh∆∞ ƒë∆∞·ª£c c≈©ng v·ªÅ h∆°n m√† n∆°i.
104- ƒê∆∞·ª£c khi c√°i ho·∫∑c. L√† l·ªõn t·∫°i v·ªõi m·ªôt. T·ª´ng m√† t·ª´ng ho·∫∑c.
105- V·ªõi nh∆∞ n·∫øu c·ªßa. V√† th√¨ m√† nh∆∞ khi·∫øn. S·∫Ω nh∆∞ t·ª´ v·ªÅ ƒëang.
106- V·ªõi v·ªÅ h∆°n nh∆∞. N√†o h∆°n nh∆∞ ƒë√∫ng th√¨ m·ªói. T·ª´ng v√¨ ƒë√≥ nh∆∞ng v·∫≠y. V·∫≠y th·∫ø c≈©ng v·ªõi gi·ªëng ƒë√∫ng h∆°n. Nh∆∞ng s·ªë trong v·∫≠y l√†m c·ªßa t·ª´.
107- C·ªßa th·∫ø v·ªõi ƒëi·ªÅu ho·∫∑c c≈©ng. N∆°i t·∫°i l√† khi·∫øn ƒë·ªÉ t·ª´ng nh∆∞. ƒê∆∞·ª£c c√≥ h∆°n b√™n v·∫´n c·ªßa m√† t·ª´.
108- D∆∞·ªõi c≈©ng c≈©ng. Nh∆∞ng n·∫øu c√°i nh∆∞ kh√¥ng nhi·ªÅu t·∫°i gi·ªØa. C·ªßa n∆°i c≈©ng nh∆∞ ng∆∞·ªùi g·∫ßn v√†i khi.
109- C√°i v√†i th·∫ø nh∆∞ng c√≥. V√† c≈©ng th·∫ø trong v·ªõi thay v√¨. ƒê√£ khi c√°i l√† ƒë√£ ho·∫∑c. T·ª´ c√°c ch·ªâ t√¥i v·ªõi. Nh∆∞ c√°c nh∆∞ ƒë·ªÉ nh∆∞ n∆°i.
110- ƒê·ªÉ n√†y c≈©ng l√†m v√† c·ªßa v√†i. V√† n√†o b·∫°n. S·ªë t·ª´ th√¨ ƒë·ªÉ d∆∞·ªõi nh∆∞. C√°ch t·ª´ t·∫°i n√†o ho·∫∑c m√†. G·∫ßn c≈©ng c√°c l√†m. T·∫°i h∆°n c·ªßa th√¨.
111- Theo l√† t·ª± t·ª±. ƒê·ªÉ c≈©ng v·∫≠y c≈©ng ƒë√£ t·ª´ng c√°c.
112- N√†y ho·∫∑c s·∫Ω ho·∫∑c c·ªßa n√†y. ƒê∆∞·ª£c v·∫≠y th√¨ c√°ch ƒëi gi·ªØa v·ªõi. Ho·∫∑c ƒë√∫ng t·ª´ng c√°c. Khi gi·ªØa gi·ªØa c√≥ l√†m ƒë·ªÉ. C≈©ng n√†o v·ªõi v·ªõi t·∫°i ƒë√∫ng.
113- N√†o v√¨ nhi·ªÅu c·ªßa v·ªÅ t·ª´ gi·ªØa. M√† c·ªßa ng∆∞·ªùi ho·∫∑c v√† c≈©ng th·∫ø. ƒêang khi·∫øn v√† ƒë√£. G·∫ßn khi nh∆∞ng theo.
114- ƒêi ƒë·ªÉ t·ª± gi·ªëng ƒë·ªÉ n√†o nh∆∞. M√† c≈©ng nhi·ªÅu n·∫øu th·∫ø. Sau n∆°i ƒë·ªÉ c·ªßa nh∆∞ l·ªõn.

 Recommended Items:
1- C·ªßa v·ªÅ n√†y n∆°i nh∆∞ nh∆∞ v√† r·∫•t.
2- H∆°n n·∫øu c√≥ ƒë·∫øn th√¨. C·ªßa v√¨ n·∫øu nh∆∞ng. Trong r·∫•t h∆°n cho t√¥i nh∆∞ l√† ƒë√∫ng.
3- Kh√¥ng v·ªõi c√°i m·ªôt th√¨ ƒë∆∞·ª£c gi·ªØa t√¥i. C√°c g·∫ßn v·ªÅ n∆°i t·∫°i d∆∞·ªõi v·∫≠y khi·∫øn.
4- G·∫ßn l√† ƒëi·ªÅu ƒë·ªÉ ƒë√∫ng ho·∫∑c sau. N√†o ƒëi khi·∫øn ƒëi v·ªõi.
5- C·ªßa trong ƒë·ªÉ l·ªõn thay l·ªõn. Nh∆∞ ƒë∆∞·ª£c gi·ªëng theo h∆°n ƒë·ªÉ t√¥i. Trong gi·ªëng gi·ªØa ƒëi·ªÅu c·ªßa ƒë·ªÉ nh∆∞.
6- V·ªÅ l√†m c√≥ c≈©ng ƒë·∫øn c·ªßa c√°i. G·∫ßn ƒë√£ ch∆∞a c≈©ng. ƒê·ªÉ th√¨ nh∆∞ t·ª´ng nh∆∞. Nhi·ªÅu nh∆∞ nhi·ªÅu nh∆∞. C·ªßa ƒë·ªÉ ƒë√∫ng.
7- ƒê∆∞·ª£c n√†o v√† th√¨ ƒë·ªÉ n·∫øu. B·∫°n gi·ªØa v·ªõi nh∆∞ ho·∫∑c nh∆∞ c√≥. Nh∆∞ng n√†o ho·∫∑c nhi·ªÅu c·ªßa ch·ªâ.
8- Kh√¥ng s·∫Ω v·∫´n t√¥i nh∆∞ ng∆∞·ªùi. Nh∆∞ nh∆∞ b·∫°n l·ªõn c·ªßa. ƒêi·ªÅu ƒë·ªÉ t·∫°i t√¥i ho·∫∑c c√°c gi·ªëng. V√† n∆°i t·ª´ng v·∫´n khi·∫øn n∆°i.
9- C≈©ng sau t·ª´ ch∆∞a c·ªßa thay. C√°i nh∆∞ d∆∞·ªõi nh∆∞ t·ª± s·ªë. C√≥ b√™n v√† h∆°n ƒë·ªÉ khi·∫øn c√°c.
10- B√™n kh√¥ng gi·ªØa n√†o l·ªõn. V·ªõi ƒë·∫øn kh√¥ng thay sau h∆°n. C√°c t·ª± t·ª± m·ªôt khi n√†y ƒë·ªÉ.

In [61]:
import joblib

# Save the trained model
joblib.dump(model, 'lightfm_model.pkl')

# Save the necessary dictionaries and matrices
joblib.dump(account_dict, 'account_dict.pkl')
joblib.dump(item_dict, 'item_dict.pkl')
joblib.dump(interactions, 'interactions.pkl')

['interactions.pkl']